<ion-view view-title="Workout Creator">

    <div>
        <ion-content class="padding has-header">
             <!--CREATING -->
            <div class="bar bar-header">
                <span ng-click="cm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            
            <div>
              <div ng-controller="ExerciseEditorCtrl as vm">
                <div ng-if="!vm.isCreating && !vm.isEditing">
                  <form class="create-form" role="form"
                        ng-submit="cm.create(cm.newObject)" novalidate>
                      <div class="list has-header padding">
                          <label class="item item-input item-stacked-label">
                              <span class="input-label">Name</span>
                              <input type="text" class="form-control"
                                  ng-model="cm.newObject.name"
                                  placeholder="Mens_Soccer_B1_Monday">
                          </label>
  

                      </div>
                    
                
                    <br></br>
                    <button class="button button-block button-dark" type="submit">Submit</button>
                </form>
                </div>
              </div>
            </div>
            
        </ion-content>
    </div>

</ion-view>
