<ion-view view-title="Workouts">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <!--<div class="bar bar-header">-->
            <!--    <span ng-click="cm.cancelCreate()" class="cancel-create">Cancel</span>-->
            <!--</div>-->
          
            <div>
              <div ng-controller="WorkoutCtrl as wlc">
                <div ng-if="!wlc.isCreating && !wlc.isEditing">
                  <!--<form ng-submit="submitForm(sport)">-->
                    <ion-list>
                      <ion-item ng-repeat="workouts in wlc.data | orderBy: 'name'"  ng-model="workouts.name" ng-click="submitForm(workouts)">
                        {{ workouts.name }}
                      </ionitem> 
                    </ion-list>
                  <!--</form>  -->
                </div>
              </div>
            </div>
            
        </ion-content>
</ion-view>