<ion-view view-title="{{firstName}}'s Graphs">
  <ion-content ng-controller = "GraphCtrl">
    <div style="float: left; width: 50%;">
      <canvas id="bar" class="chart chart-bar"
        chart-data="bodyweightin" chart-labels="labels" chart-series="series" 
        chart-options="options"
      </canvas>
    </div>
    
    <div style="float: left; width: 50%;">
      <canvas id="bar" class="chart chart-bar"
        chart-data="gc.stress" chart-labels="labels" chart-series="gc.stressSeries" 
        chart-options = "gc.stressOptions";
      </canvas>
    </div>

  </ion-content>
</ion-view>
