<ion-view view-title="Analysis">
  
  <ion-nav-buttons side="right">
    <a id = "hiddenbutton" class="button button-balanced" ng-click="export()">
      Export for Excel
    </a>
  </ion-nav-buttons>
            
  <ion-content>
    <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input class = "item-input-wrapper" type="search" placeholder="search" 
        ng-model='searchText.val'></input>
    </label>
    </div>
       <ul class = "list" id="userSurveys" style="float: left; width: 33.33%;">
         <li class="item"  style="font-size: 30px;  font-weight: 500;">
          <div class ="row" style="text-align: center;">
            <div class="col"> Users </div>
          </div> 
         </li>
         <div ng-controller="AnalysisCtrl as sv" ng-init=init()>
              <div ng-repeat="survey in sv.userSurveys | userFilter: searchText |orderBy: 'lastName'"
                 ng-model= "survey.data" ng-click="charts({{survey}}, 'user')">
                <li class="item">
                  <div class = "row" style="text-align: center;">
                    <div class="col"> {{survey.firstName}} {{survey.lastName}}  </div>
                  </div>
                </li>
              </div>
         </div>
      </ul>
      
      <ul class ="list" id="sportSurveys" style="float:left;width:33.33%;">
        <li class="item"  style="font-size: 30px;  font-weight: 500;">
          <div class ="row" style="text-align: center;">
            <div class="col"> Sports </div>
          </div> 
         </li>
        <div ng-controller="AnalysisCtrl as sv" ng-init=init()>
          <div ng-repeat="survey in sv.sportSurveys | exerciseFilter: searchText | orderBy: 'name'"
            ng-model= "survey.data" ng-click="charts({{survey}}, 'sport')">
            <li class="item">
              <div class = "row" style="text-align: center;">
                <div class="col"> {{survey.name}} </div>
              </div>
            </li>
          </div>
        </div>
      </ul>
      
      <ul class ="list" id="exerciseSurveys" style="float:left;width:33.33%;">
        <li class="item"  style="font-size: 30px;  font-weight: 500;">
          <div class ="row" style="text-align: center;">
            <div class="col"> Exercises </div>
          </div> 
         </li>
        <div ng-controller="AnalysisCtrl as sv" ng-init=init()>
          <div ng-repeat="survey in sv.exerciseSurveys | exerciseFilter: searchText | orderBy: 'name'"
            ng-model= "survey.data" ng-click="charts({{survey}}, 'exercise')">
            <li class="item">
              <div class = "row" style="text-align: center;">
                <div class="col"> {{survey.name}} </div>
              </div>
            </li>
          </div>
        </div>
      </ul>      

  </ion-content>
</ion-view>
