<ion-view view-title="{{sport.name}}">
        <ion-content>
            <!--<form class="create-form" role="form" ng-submit="sm.create(newoqbject)" novalidate>-->
                <ul class = "list" id="users" style="width:75%; float:left">
                <li class="item" style="font-size: 30px;  font-weight: 500;">Athletes</li>
                 <div ng-controller="UserCtrl as cm" ng-if="!cm.isCreating && !cm.isEditing">
                    <div ng-repeat="user in cm.data | orderBy: 'firstName'" ng-model= "user.name" ng-click="removeUser(user)">
                        <li class="item item-checkbox" id="{{user.firstName}}">
                            {{ user.firstName}}  {{user.lastName}}
                            <label class ="checkbox" checked="true">
                                <input type="checkbox" checked="true">
                            </label>
                        </li>
                    </div>
                        <li class="item" style="font-size: 30px;  font-weight: 500;">Other Athletes</li>
                <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input class = "item-input-wrapper" type="text" placeholder="search" ng-model='searchText.val'></input>
                </label>
                    <div id="Abbe" ng-model= "user.name" ng-repeat="user in cm.data2 | userFilter:searchText"  ng-click="addUser(user)">
                        <li class="item item-checkbox" id="{{user.firstName}}">
                            {{ user.firstName}}  {{user.lastName}}
                            <label class ="checkbox">
                            <input type="checkbox">
                            </label>
                        </li>
                    </div>
                </div>
                </ul>
                <ul class = "list" style="width:25%; float:left">
                <li class="item" style="font-size: 30px;  font-weight: 500; text-align: center;">Current Workouts</li>
                <div ng-controller="WorkoutCtrl as wlc" ng-if="!wlc.isCreating && !wlc.isEditing">
                    <div ng-repeat="workout in wlc.workouts | orderBy:name" ng-model="workout.name">
                        <li class ="button button-calm" style="width:80%; float: left;" ng-click="submitForm(workout)">
                        <label class="string" >
                            {{ workout.name }}
                        </label>
                        </li>
                        <li class="button button-assertive" style="width:20%; float: left;" ng-controller="SportWorkoutCtrl as swm" ng-click="swm.removeWorkout(workout)">
                        <label class="string">
                            Remove
                        </label>
                        </li>
                    </div>
                <li class="item" style="font-size: 30px;  font-weight: 500; text-align: center;">Other Workouts</li>
                    <div ng-repeat="workout in wlc.workouts2" ng-model="workout.name">
                        <li class ="button button-stable" style="width:80%; float:left;" ng-click="submitForm(workout)">
                        <label class="string" >
                            {{ workout.name }}
                        </label>
                        </li>
                        
                        <li class="button button-balanced" style="width:20%; float:left;" ng-controller="SportWorkoutCtrl as swm" ng-click="swm.addWorkout(workout)">
                        <label class="string">
                            Add
                        </label>
                        </li>
                    </div>
                </div>
                </ul>
                  <!--<button class="button button-block button-dark" ng-click="submitForm(users)" type="submit">Submit</button>-->
              <!--</form>  -->
         </ion-content>
</ion-view>