<ion-view view-title="Exercises">
  
        <ion-nav-buttons side="right" ng-controller="ExercisesCtrl as ec">
          <button class="button" ng-click="createExercise()">
          Create New Exercise
          </button>
        </ion-nav-buttons>
            
        <ion-content ng-controller="ExercisesCtrl as ec" class="padding has-header">
            <div class="bar bar-header item-input-inset">
                  <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input class = "item-input-wrapper" type="search" placeholder="search" 
                    ng-model='searchText.val'></input>
                  </label>
                </div>
              <div ng-if="!ec.isCreating && !ec.isEditing">
                <ion-list>
                  <ion-item ng-repeat="exercise in ec.data | exerciseFilter:searchText | orderBy: 'name'"  
                    ng-model="ec.data" ng-click="submitForm(exercise)">
                    {{ exercise.name }} Sets: {{exercise.sets}} Reps: {{exercise.reps}}
                  </ionitem> 
                </ion-list>
              </div>
        </ion-content>
</ion-view>