<ion-view view-title="Workouts">
  
            <ion-nav-buttons side="right" ng-controller="WorkoutCtrl as wlc">
              <button class="button" ng-click="createWorkout()">
              Create New Workout
              </button>
            </ion-nav-buttons>
            
        <ion-content class="padding has-header">
            <div>
              <div ng-controller="WorkoutCtrl as wlc">
                <div ng-if="!wlc.isCreating && !wlc.isEditing">
                  <!--<form ng-submit="submitForm(sport)">-->
                    <ion-list>
                      <ion-item ng-repeat="workouts in wlc.data | orderBy: 'name'"  ng-model="workouts.name" ng-click="submitForm(workouts)">
                        {{ workouts.name }}
                      </ionitem> 
                    </ion-list>
                  <!--</form>  -->
                </div>
              </div>
            </div>
        </ion-content>
</ion-view>