<ion-view view-title="Workout Update for {{wte.wo.name}}">

    <div>
        <ion-content>
            <div ng-if="!wte.isCreating && !wte.isEditing">
                  <form class="create-form" role="form"
                        ng-submit="wte.update(wte.wo)" novalidate>
                      <div class="list has-header padding">
                          <label class="item item-input item-stacked-label">
                              <span class="input-label">Name</span>
                              <input type="text" class="form-control"
                                  ng-model="wte.wo.name"
                                  placeholder="{{wte.wo.name}}">
                          </label>
                      </div>
                    <br></br>
                    <button class="button button-block button-dark" ng-click="wte.update(wte.wo)">Submit</button>
                </form>
              <!--  </div>-->
              <!--</div>-->
            </div>
            
        </ion-content>
    </div>

</ion-view>
